**/globals/**
**/assets/**
**/*.scss
**/*.css
**/*.css.map
**/*.md
**/*.png
**/*.gif
**/*.jpg
**/*.svg
**/*.ttf
**/*.otf
**/*.eot
**/*.woff
**/*.woff2
**/node-modules
target
jest
**/front-js
**/logs
**/ssl
